<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>編集</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container input-card">
  <h2>収支を編集</h2>

  <form action="/items/edit/<%= item.id %>" method="POST">

    <label>日付</label>
    <input type="date" name="createdAt" value="<%= item.createdAt.toISOString().slice(0,10) %>" required>



    <label>項目名</label>
    <input type="text" name="event" value="<%= item.event %>" required>

    <label>金額</label>
    <input type="number" name="amount" value="<%= item.amount %>" required>

    <label>区分</label>
    <select name="type" required>
      <option value="income" <%= item.type === "income" ? "selected" : "" %>>収入</option>
      <option value="expense" <%= item.type === "expense" ? "selected" : "" %>>支出</option>
    </select>

    <label>メモ</label>
    <textarea name="memo"><%= item.memo || "" %></textarea>

    <button type="submit" class="add-btn">更新する</button>
  </form>
</div>

</body>
</html>
